body {
  background-color: rgb(191, 238, 138);
  font-family: sans-serif;
  font-size: large;
   margin: 0px;
   padding: 0px;
}
.heading{
  background-color: #728f5e;
  padding-top: 25px;
  text-align: center;
  color: White;
  height: 75px;
}
.gototask-container{
   display: flex;
   flex-direction: column; 
  align-items: center;
}
/* .main-heading{
  margin: 8px 0px ;
  color: rgb(66, 65, 65);
} */
.addtask-btn{
  margin-top: 10px;
  background-color: #728f5e;
  color: aliceblue;
  height: 45px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}
.input-container{
    margin: 0px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input-field{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.task-holder{
 height: 30px;
 width: 250px;
 border: 2px solid black;
 text-align: center;
}
.input-btn{
  border: 2px solid rgb(33, 75, 28);
    width: 37px;
    cursor: pointer;
    background-color: rgb(117, 150, 86);
    color: white;
    font-size: larger;
}
.tasks{
  width: 100px;
  height: 60px;
  border: 2px solid black;
  border-radius: 4px;
}
.listof-todos{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  list-style-type: none;
  color: black;
  padding: 10px; 
  margin-top: 10px;
  background-color: rgb(211, 241, 154);
  width: 600px; 
  height: auto;  
}

.list-item .icons {
  align-self: flex-end; 
  margin-top: 5px;
}
.dlt-btn {
  border: 2px solid rgb(33, 75, 28);
    width: 37px;
    cursor: pointer;
    background-color: rgb(117, 150, 86);
    color: white;
    font-size: larger;
}
.task-m{
  margin: 3px;
}

.dlt-btn:hover {
  background-color: #ff1a1a;
}

